<!DOCTYPE html>
<html>
  <body>
    <h1>welcome, anonymous</h1>
    <%
      if(userLoop){
    %>
      <h3>account_active: true</h3>
    <% } else { %>
      <h3>account_active: false</h3>
    <%  } %>
    <a href='/'>Home</a>
    <a href='/filldb/<%= user.username %>'>Analyze Me</a>

    
    <%
    if(!userLoop){
    var launchRequest = '/launchbot/' + user.username;
    %>
    <a href='<%= launchRequest %>'>start();</a>
    <%
    } else{
      var stopRequest = '/stopbot/' + user.username;
      var checkRequest = '/checkbot/' + user.username;
      %>
      <a href='<%= checkRequest %>'>analysis();</a>
      <a href='<%= stopRequest %>'>stop();</a>
      <% } %>

    
    <a href='/logout'>Logout</a>
    <br>
    <p>id: <%= user.username %></p>
    <%
      if(!userLoop){
    %>
    <p>//use start() to begin content generation</p>
    <% }else{ %>
     <p>//use stop() to halt content generation<br>//use analysis() to begin identity analysis</p>
    <% } %>
  </body>
</html>