<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi, <%= user.username %>.</h1>
    <%
      if(userLoop){
    %>
    <h3>Bot running.</h3>
    <% } %>
    <a href='/'>Home</a>
    <a href='/filldb/<%= user.username %>'>Analyze Me</a>

    
    <%
    if(!userLoop){
    var launchRequest = '/launchbot/' + user.username;
    %>
    <a href='<%= launchRequest %>'>Launch</a>
    <%
    } else{
      var stopRequest = '/stopbot/' + user.username;
      var checkRequest = '/checkbot/' + user.username;
      %>
      <a href='<%= checkRequest %>'>Status</a>
      <a href='<%= stopRequest %>'>Stop</a>
      <% } %>

    
    <a href='/logout'>Logout</a>
    <br>
    <%
      if(!userLoop){
    %>
    <p>Click Launch to start your bot.</p>
    <% }else{ %>
     <p>Click Stop to pause your bot.</p>
    <% } %>
  </body>
</html>